- name: Deploy .bashrc
  become: true
  copy:
    src: .bashrc
    dest: "/home/{{ ansible_env.SUDO_USER }}/.bashrc"
    mode: '0644'

- name: Deploy .bash_aliases
  become: true
  copy:
    src: .bash_aliases
    dest: "/home/{{ ansible_env.SUDO_USER }}/.bash_aliases"
    mode: '0644'

- name: Deploy .bash_profile
  become: true
  copy:
    src: .bash_profile
    dest: "/home/{{ ansible_env.SUDO_USER }}/.bash_profile"
    mode: '0644'
