---
# ==================================================
# Base system configuration
# ==================================================

# --------------------------------------------------
# APT basics
# --------------------------------------------------
- name: Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

# --------------------------------------------------
# Essential packages
# --------------------------------------------------
- name: Install base packages
  become: true
  ansible.builtin.apt:
    name:
      - curl
      - wget
      - git
      - ca-certificates
      - build-essential
      - unzip
      - gnupg
      - lsb-release
      - python3
      - python3-pip
      - tcpdump
      - htop
      - dirb
      - whois
      - rdesktop
      - nodejs
      - ripgrep
      - fd-find
      - xclip
      - flameshot
      - feh
      - picom
      - arandr
      - tshark
      - polybar
    state: present

# --------------------------------------------------
# Timezone
# --------------------------------------------------
- name: Set system timezone
  become: true
  community.general.timezone:
    name: "{{ timezone | default('Europe/Zurich') }}"

# --------------------------------------------------
# Locale
# --------------------------------------------------
- name: Generate locale
  become: true
  community.general.locale_gen:
    name: "{{ locale | default('en_US.UTF-8') }}"
    state: present

- name: Set system locale
  become: true
  ansible.builtin.command:
    cmd: localectl set-locale LANG={{ locale | default('en_US.UTF-8') }}
  changed_when: false
